In [6]:
import pandas as pd

pdf = pd.read_csv('formatura.csv', encoding = 'ISO-8859-1', delimiter = ';')

pdf

,COD_ALUNO,COD_UNIDADE,COD_TURMA,SEXO,ESTADO_CIVIL,DATA_NASCIMENTO,CIDADE_ALUNO,UF_ALUNO,CEP_ALUNO,COD_CURSO,...,T_IDADE,NOTA,NOTA_ENEM,POSSUI_ENEM,NRO_REPRO_ACO,NRO_TOTAL_REPRO,NRO_REPRO_NORMAL,SEMESTRES_CURSADOS,Contador,POSSUI_FIES
0,1000055,508,316720151A,2,S,1996-11-19 00:00:00,BETIM,MG,32.661-750,3167,...,21,8.711111,537.575,1,NaN,NaN,NaN,4,1,SIM
1,1000143,550,9917120151A,2,S,1996-09-03 23:00:00,APUCARANA,PR,86.801-040,99171,...,21,8.140000,421.000,1,NaN,NaN,NaN,4,1,NAO
2,1000179,1,80820151A,2,S,1950-06-29 23:00:00,CUIABÁ,MT,78.065-900,808,...,67,8.510000,NaN,0,NaN,NaN,NaN,4,1,NAO
3,1000210,1,80820151A,2,C,1981-11-23 23:00:00,POCONÉ,MT,78.175-000,808,...,36,8.456667,NaN,0,NaN,NaN,NaN,4,1,SIM
4,1000228,6,52220112A,1,S,1979-12-29 23:00:00,SALVADOR,BA,41.250-470,522,...,37,7.624490,NaN,0,43.0,48.0,5.0,14,1,NAO
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
68821,999908,6,52220121A,2,S,1990-05-24 23:00:00,SALVADOR,BA,41.730-101,522,...,27,7.551020,NaN,0,39.0,42.0,3.0,12,1,SIM
68822,999914,508,6909720142A,2,C,1989-11-24 00:00:00,BETIM,MG,32.670-210,69097,...,28,7.683333,NaN,0,18.0,18.0,0.0,6,1,NAO
68823,999915,507,6803820132A,1,S,1993-05-22 23:00:00,GUARAPARI,ES,29.216-200,68038,...,24,7.911321,NaN,0,9.0,12.0,3.0,10,1,SIM
68824,999919,9,68520131A,2,S,1994-02-10 00:00:00,RONDONÓPOLIS,MT,78.745-090,685,...,23,8.637037,536.075,1,3.0,3.0,0.0,4,1,NAO
68825,999976,504,6724420131A,2,S,1994-11-30 00:00:00,LINHARES,ES,29.903-071,67244,...,23,8.460870,428.975,1,23.0,23.0,0.0,8,1,SIM

In [10]:
pdf.describe()

,COD_ALUNO,COD_UNIDADE,SEXO,COD_CURSO,TURNO_CURSO,DURACAO_CURSO,PERIODOS_TRANCADOS,CH_TOTAL_MATRIZ,NR_TOTAL_DISCIPLINAS,CH_APROVADA,NR_DISC_APROVADA,T_IDADE,NOTA,NOTA_ENEM,POSSUI_ENEM,NRO_REPRO_ACO,NRO_TOTAL_REPRO,NRO_REPRO_NORMAL,SEMESTRES_CURSADOS,Contador
count,6.882600e+04,68826.000000,68826.000000,68826.000000,68826.000000,68826.000000,68826.000000,68826.000000,68826.000000,68826.000000,68826.000000,68826.000000,68826.000000,20797.000000,68826.000000,62339.000000,62339.000000,62339.000000,68826.000000,68826.0
mean,5.387469e+05,342.769128,1.610046,49887.697672,2.489757,8.028521,0.051884,3188.443176,51.830413,3185.062186,51.772310,30.427600,8.080829,509.596306,0.302168,11.339354,13.849982,2.510627,9.450498,1.0
std,2.478763e+05,251.567746,0.487743,39651.885242,1.082820,2.064591,0.286155,869.657558,13.775284,871.408289,13.812533,7.304586,0.482253,59.764407,0.459201,11.674038,13.576304,4.510357,2.871623,0.0
min,2.128000e+03,1.000000,1.000000,1.000000,0.000000,4.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2.000000,6.000000,328.900000,0.000000,0.000000,1.000000,0.000000,1.000000,1.0
25%,3.600122e+05,8.000000,1.000000,831.000000,3.000000,8.000000,0.000000,2910.000000,45.000000,2900.000000,45.000000,25.000000,7.753449,466.350000,0.000000,3.000000,4.000000,0.000000,8.000000,1.0
50%,4.968880e+05,508.000000,2.000000,67556.000000,3.000000,8.000000,0.000000,3200.000000,51.000000,3200.000000,51.000000,28.000000,8.087879,508.325000,0.000000,7.000000,9.000000,1.000000,10.000000,1.0
75%,7.111618e+05,535.000000,2.000000,69096.500000,3.000000,10.000000,0.000000,3700.000000,63.000000,3700.000000,63.000000,34.000000,8.410499,551.850000,1.000000,17.000000,20.000000,3.000000,12.000000,1.0
max,1.265826e+06,703.000000,2.000000,99380.000000,3.000000,12.000000,15.000000,8764.000000,83.000000,8764.000000,83.000000,84.000000,9.835000,741.950000,1.000000,120.000000,138.000000,94.000000,108.000000,1.0

In [11]:
pdf.head()

,COD_ALUNO,COD_UNIDADE,COD_TURMA,SEXO,ESTADO_CIVIL,DATA_NASCIMENTO,CIDADE_ALUNO,UF_ALUNO,CEP_ALUNO,COD_CURSO,...,T_IDADE,NOTA,NOTA_ENEM,POSSUI_ENEM,NRO_REPRO_ACO,NRO_TOTAL_REPRO,NRO_REPRO_NORMAL,SEMESTRES_CURSADOS,Contador,POSSUI_FIES
0,1000055,508,316720151A,2,S,1996-11-19 00:00:00,BETIM,MG,32.661-750,3167,...,21,8.711111,537.575,1,NaN,NaN,NaN,4,1,SIM
1,1000143,550,9917120151A,2,S,1996-09-03 23:00:00,APUCARANA,PR,86.801-040,99171,...,21,8.140000,421.000,1,NaN,NaN,NaN,4,1,NAO
2,1000179,1,80820151A,2,S,1950-06-29 23:00:00,CUIABÁ,MT,78.065-900,808,...,67,8.510000,NaN,0,NaN,NaN,NaN,4,1,NAO
3,1000210,1,80820151A,2,C,1981-11-23 23:00:00,POCONÉ,MT,78.175-000,808,...,36,8.456667,NaN,0,NaN,NaN,NaN,4,1,SIM
4,1000228,6,52220112A,1,S,1979-12-29 23:00:00,SALVADOR,BA,41.250-470,522,...,37,7.624490,NaN,0,43.0,48.0,5.0,14,1,NAO

In [12]:
pdf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 68826 entries, 0 to 68825
Data columns (total 30 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   COD_ALUNO             68826 non-null  int64
 1   COD_UNIDADE           68826 non-null  int64
 2   COD_TURMA             68826 non-null  object
 3   SEXO                  68826 non-null  int64
 4   ESTADO_CIVIL          68826 non-null  object
 5   DATA_NASCIMENTO       68826 non-null  object
 6   CIDADE_ALUNO          68826 non-null  object
 7   UF_ALUNO              68822 non-null  object
 8   CEP_ALUNO             68826 non-null  object
 9   COD_CURSO             68826 non-null  int64
 10  NOME_CURSO            68826 non-null  object
 11  TURNO_CURSO           68826 non-null  int64
 12  DURACAO_CURSO         68826 non-null  int64
 13  SITUCAO_MATRICULA     68826 non-null  object
 14  DATA_CONCLUSAO        68826 non-null  object
 15  PERIODOS_TRANCADOS    68826 non-null  int64
 16  CH_TOTAL_MATRIZ       68826 non-null  int64
 17  NR_TOTAL_DISCIPLINAS  68826 non-null  int64
 18  CH_APROVADA           68826 non-null  int64
 19  NR_DISC_APROVADA      68826 non-null  int64
 20  T_IDADE               68826 non-null  int64
 21  NOTA                  68826 non-null  float64
 22  NOTA_ENEM             20797 non-null  float64
 23  POSSUI_ENEM           68826 non-null  int64
 24  NRO_REPRO_ACO         62339 non-null  float64
 25  NRO_TOTAL_REPRO       62339 non-null  float64
 26  NRO_REPRO_NORMAL      62339 non-null  float64
 27  SEMESTRES_CURSADOS    68826 non-null  int64
 28  Contador              68826 non-null  int64
 29  POSSUI_FIES           68826 non-null  object
dtypes: float64(5), int64(15), object(10)
memory usage: 15.8+ MB

In [13]:
pdf = pdf.dropna(axis=0)
pdf.isnull().sum()

COD_ALUNO               0
COD_UNIDADE             0
COD_TURMA               0
SEXO                    0
ESTADO_CIVIL            0
DATA_NASCIMENTO         0
CIDADE_ALUNO            0
UF_ALUNO                0
CEP_ALUNO               0
COD_CURSO               0
NOME_CURSO              0
TURNO_CURSO             0
DURACAO_CURSO           0
SITUCAO_MATRICULA       0
DATA_CONCLUSAO          0
PERIODOS_TRANCADOS      0
CH_TOTAL_MATRIZ         0
NR_TOTAL_DISCIPLINAS    0
CH_APROVADA             0
NR_DISC_APROVADA        0
T_IDADE                 0
NOTA                    0
NOTA_ENEM               0
POSSUI_ENEM             0
NRO_REPRO_ACO           0
NRO_TOTAL_REPRO         0
NRO_REPRO_NORMAL        0
SEMESTRES_CURSADOS      0
Contador                0
POSSUI_FIES             0
dtype: int64

In [14]:
pdf['NRO_REPRO_NORMAL'] = pd.to_numeric(pdf['NRO_REPRO_NORMAL'], errors='coerce')

C:\Users\osvaldo.pereira\AppData\Roaming\Python\Python37\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [15]:
pdf['NR_TOTAL_DISCIPLINAS'] = pd.to_numeric(pdf['NR_TOTAL_DISCIPLINAS'], errors='coerce')

C:\Users\osvaldo.pereira\AppData\Roaming\Python\Python37\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [16]:
pdf['SEMESTRES_CURSADOS'] = pd.to_numeric(pdf['SEMESTRES_CURSADOS'], errors='coerce')

C:\Users\osvaldo.pereira\AppData\Roaming\Python\Python37\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [17]:
pdf['DURACAO_CURSO'] = pd.to_numeric(pdf['DURACAO_CURSO'], errors='coerce')

C:\Users\osvaldo.pereira\AppData\Roaming\Python\Python37\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [18]:
pdf['PERIODOS_TRANCADOS'] = pd.to_numeric(pdf['PERIODOS_TRANCADOS'], errors='coerce')

C:\Users\osvaldo.pereira\AppData\Roaming\Python\Python37\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [19]:
pdf['CH_TOTAL_MATRIZ'] = pd.to_numeric(pdf['CH_TOTAL_MATRIZ'], errors='coerce')

C:\Users\osvaldo.pereira\AppData\Roaming\Python\Python37\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [20]:
pdf.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 18711 entries, 5 to 68825
Data columns (total 30 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   COD_ALUNO             18711 non-null  int64
 1   COD_UNIDADE           18711 non-null  int64
 2   COD_TURMA             18711 non-null  object
 3   SEXO                  18711 non-null  int64
 4   ESTADO_CIVIL          18711 non-null  object
 5   DATA_NASCIMENTO       18711 non-null  object
 6   CIDADE_ALUNO          18711 non-null  object
 7   UF_ALUNO              18711 non-null  object
 8   CEP_ALUNO             18711 non-null  object
 9   COD_CURSO             18711 non-null  int64
 10  NOME_CURSO            18711 non-null  object
 11  TURNO_CURSO           18711 non-null  int64
 12  DURACAO_CURSO         18711 non-null  int64
 13  SITUCAO_MATRICULA     18711 non-null  object
 14  DATA_CONCLUSAO        18711 non-null  object
 15  PERIODOS_TRANCADOS    18711 non-null  int64
 16  CH_TOTAL_MATRIZ       18711 non-null  int64
 17  NR_TOTAL_DISCIPLINAS  18711 non-null  int64
 18  CH_APROVADA           18711 non-null  int64
 19  NR_DISC_APROVADA      18711 non-null  int64
 20  T_IDADE               18711 non-null  int64
 21  NOTA                  18711 non-null  float64
 22  NOTA_ENEM             18711 non-null  float64
 23  POSSUI_ENEM           18711 non-null  int64
 24  NRO_REPRO_ACO         18711 non-null  float64
 25  NRO_TOTAL_REPRO       18711 non-null  float64
 26  NRO_REPRO_NORMAL      18711 non-null  float64
 27  SEMESTRES_CURSADOS    18711 non-null  int64
 28  Contador              18711 non-null  int64
 29  POSSUI_FIES           18711 non-null  object
dtypes: float64(5), int64(15), object(10)
memory usage: 4.4+ MB

In [21]:
import numpy as np 
import matplotlib.pyplot as plt
import statsmodels.formula.api as sm

C:\Users\osvaldo.pereira\AppData\Local\Continuum\anaconda3\lib\site-packages\statsmodels\tools\_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [22]:
pdf['A'] = pdf['NRO_REPRO_NORMAL']*1.0

C:\Users\osvaldo.pereira\AppData\Roaming\Python\Python37\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [23]:
pdf['B'] = pdf['NR_TOTAL_DISCIPLINAS']*1.0

C:\Users\osvaldo.pereira\AppData\Roaming\Python\Python37\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [24]:
pdf['C'] = pdf['SEMESTRES_CURSADOS']*1.0

C:\Users\osvaldo.pereira\AppData\Roaming\Python\Python37\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [25]:
pdf['D'] = pdf['DURACAO_CURSO']*1.0

C:\Users\osvaldo.pereira\AppData\Roaming\Python\Python37\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [26]:
pdf['E'] = pdf['PERIODOS_TRANCADOS']*1.0

C:\Users\osvaldo.pereira\AppData\Roaming\Python\Python37\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [27]:
pdf['F'] = pdf['CH_TOTAL_MATRIZ']*1.0

C:\Users\osvaldo.pereira\AppData\Roaming\Python\Python37\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [28]:
pdf['G'] = pdf['NRO_REPRO_NORMAL']/pdf['NR_TOTAL_DISCIPLINAS']

C:\Users\osvaldo.pereira\AppData\Roaming\Python\Python37\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [29]:
pdf['H'] = pdf['C']/pdf['D']
pdf['I'] = pdf['F']/pdf['B']

C:\Users\osvaldo.pereira\AppData\Roaming\Python\Python37\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
C:\Users\osvaldo.pereira\AppData\Roaming\Python\Python37\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [30]:
print(pdf)

       COD_ALUNO  COD_UNIDADE    COD_TURMA  SEXO ESTADO_CIVIL  \
5        1000282            1    23820152A     1            S
8        1000387            1    80820151A     2            D
14       1000478            1    80820152A     2            S
18       1000729            6   355820151A     1            S
22       1001060          541  9887420151A     2            C
...          ...          ...          ...   ...          ...
68817     999826            9    59820131A     2            S
68819     999841            9    59220131A     1            C
68820     999897          517  6726120131A     2            S
68824     999919            9    68520131A     2            S
68825     999976          504  6724420131A     2            S

           DATA_NASCIMENTO  CIDADE_ALUNO UF_ALUNO   CEP_ALUNO  COD_CURSO  ...  \
5      1993-06-21 23:00:00        Cuiabá       MT  78.015-090        238  ...
8      1981-09-14 23:00:00        CUIABÁ       MT  78.008-405        808  ...
14     1982-08-02 23:00:00        CUIABÁ       MT  78.050-340        808  ...
18     1985-02-27 23:00:00      SALVADOR       BA  41.213-660       3558  ...
22     1977-06-24 23:00:00        CUIABÁ       MT  78.075-290      98874  ...
...                    ...           ...      ...         ...        ...  ...
68817  1994-10-02 23:00:00  RONDONÓPOLIS       MT  78.725-200        598  ...
68819  1976-10-29 23:00:00  RONDONÓPOLIS       MT  78.720-620        592  ...
68820  1994-10-25 00:00:00    VOTORANTIM       SP  18.113-430      67261  ...
68824  1994-02-10 00:00:00  RONDONÓPOLIS       MT  78.745-090        685  ...
68825  1994-11-30 00:00:00      LINHARES       ES  29.903-071      67244  ...

      POSSUI_FIES    A     B    C    D    E       F         G    H          I
5             SIM  2.0  27.0  6.0  4.0  0.0  1680.0  0.074074  1.5  62.222222
8             SIM  0.0  30.0  4.0  4.0  0.0  1700.0  0.000000  1.0  56.666667
14            SIM  7.0  30.0  6.0  4.0  0.0  1700.0  0.233333  1.5  56.666667
18            SIM  1.0  27.0  4.0  4.0  0.0  1680.0  0.037037  1.0  62.222222
22            NAO  1.0  27.0  4.0  4.0  0.0  1680.0  0.037037  1.0  62.222222
...           ...  ...   ...  ...  ...  ...     ...       ...  ...        ...
68817         SIM  1.0  40.0  6.0  6.0  0.0  2520.0  0.025000  1.0  63.000000
68819         SIM  0.0  41.0  6.0  6.0  0.0  2800.0  0.000000  1.0  68.292683
68820         SIM  3.0  49.0  8.0  8.0  0.0  3000.0  0.061224  1.0  61.224490
68824         NAO  0.0  28.0  4.0  4.0  0.0  1700.0  0.000000  1.0  60.714286
68825         SIM  0.0  47.0  8.0  8.0  0.0  2700.0  0.000000  1.0  57.446809

[18711 rows x 39 columns]

In [31]:
pdf.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 18711 entries, 5 to 68825
Data columns (total 39 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   COD_ALUNO             18711 non-null  int64
 1   COD_UNIDADE           18711 non-null  int64
 2   COD_TURMA             18711 non-null  object
 3   SEXO                  18711 non-null  int64
 4   ESTADO_CIVIL          18711 non-null  object
 5   DATA_NASCIMENTO       18711 non-null  object
 6   CIDADE_ALUNO          18711 non-null  object
 7   UF_ALUNO              18711 non-null  object
 8   CEP_ALUNO             18711 non-null  object
 9   COD_CURSO             18711 non-null  int64
 10  NOME_CURSO            18711 non-null  object
 11  TURNO_CURSO           18711 non-null  int64
 12  DURACAO_CURSO         18711 non-null  int64
 13  SITUCAO_MATRICULA     18711 non-null  object
 14  DATA_CONCLUSAO        18711 non-null  object
 15  PERIODOS_TRANCADOS    18711 non-null  int64
 16  CH_TOTAL_MATRIZ       18711 non-null  int64
 17  NR_TOTAL_DISCIPLINAS  18711 non-null  int64
 18  CH_APROVADA           18711 non-null  int64
 19  NR_DISC_APROVADA      18711 non-null  int64
 20  T_IDADE               18711 non-null  int64
 21  NOTA                  18711 non-null  float64
 22  NOTA_ENEM             18711 non-null  float64
 23  POSSUI_ENEM           18711 non-null  int64
 24  NRO_REPRO_ACO         18711 non-null  float64
 25  NRO_TOTAL_REPRO       18711 non-null  float64
 26  NRO_REPRO_NORMAL      18711 non-null  float64
 27  SEMESTRES_CURSADOS    18711 non-null  int64
 28  Contador              18711 non-null  int64
 29  POSSUI_FIES           18711 non-null  object
 30  A                     18711 non-null  float64
 31  B                     18711 non-null  float64
 32  C                     18711 non-null  float64
 33  D                     18711 non-null  float64
 34  E                     18711 non-null  float64
 35  F                     18711 non-null  float64
 36  G                     18711 non-null  float64
 37  H                     18711 non-null  float64
 38  I                     18705 non-null  float64
dtypes: float64(14), int64(15), object(10)
memory usage: 5.7+ MB

In [32]:
 lm = sm.ols(formula= 
'NOTA ~ G + B + H + F + I', data=pdf).fit()

C:\Users\osvaldo.pereira\AppData\Local\Continuum\anaconda3\lib\site-packages\statsmodels\compat\pandas.py:23: FutureWarning: The Panel class is removed from pandas. Accessing it from the top-level namespace will also be removed in the next version
  data_klasses = (pandas.Series, pandas.DataFrame, pandas.Panel)

In [33]:
print(lm.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                   NOTA   R-squared:                       0.188
Model:                            OLS   Adj. R-squared:                  0.188
Method:                 Least Squares   F-statistic:                     866.6
Date:                Sun, 16 Feb 2020   Prob (F-statistic):               0.00
Time:                        19:34:45   Log-Likelihood:                -8766.4
No. Observations:               18705   AIC:                         1.754e+04
Df Residuals:                   18699   BIC:                         1.759e+04
Df Model:                           5
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept      8.7552      0.103     84.917      0.000       8.553       8.957
G             -2.9446      0.049    -59.680      0.000      -3.041      -2.848
B             -0.0097      0.002     -5.152      0.000      -0.013      -0.006
H              0.0321      0.015      2.134      0.033       0.003       0.062
F              0.0002   3.15e-05      5.560      0.000       0.000       0.000
I             -0.0093      0.002     -5.658      0.000      -0.013      -0.006
==============================================================================
Omnibus:                      516.205   Durbin-Watson:                   1.788
Prob(Omnibus):                  0.000   Jarque-Bera (JB):             1278.720
Skew:                           0.066   Prob(JB):                    2.14e-278
Kurtosis:                       4.274   Cond. No.                     1.15e+05
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 1.15e+05. This might indicate that there are
strong multicollinearity or other numerical problems.