# References

* https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.levene.html
* https://aaronschlegel.me/levenes-test-equality-variances-python.html
* https://www.geeksforgeeks.org/different-ways-to-create-pandas-dataframe/
* http://library.isr.ist.utl.pt/docs/scipy/generated/scipy.stats.levene.html
* https://pandas.pydata.org/pandas-docs/stable/user_guide/reshaping.html
* https://www.statology.org/levenes-test-python/
* https://www.statology.org/one-way-anova/

In [71]:
from scipy.stats import levene
import scipy.stats as stats
import pingouin as pg
import pandas as pd
import numpy as np

# Exemplo b√°sico

In [4]:
a = [8.88, 9.12, 9.04, 8.98, 9.00, 9.08, 9.01, 8.85, 9.06, 8.99]

b = [8.88, 8.95, 9.29, 9.44, 9.15, 9.58, 8.36, 9.18, 8.67, 9.05]

c = [8.95, 9.12, 8.95, 8.85, 9.03, 8.84, 9.07, 8.98, 8.86, 8.98]

stat, p = levene(a, b, c)

p

0.002431505967249681

In [5]:
[np.var(x, ddof=1) for x in [a, b, c]]

[0.007054444444444413, 0.13073888888888888, 0.008890000000000002]

# Outro exemplo simples

In [9]:
# https://www.statology.org/levenes-test-python/
# https://www.statology.org/one-way-anova/

group1 = [7, 14, 14, 13, 12, 9, 6, 14, 12, 8]
group2 = [15, 17, 13, 15, 15, 13, 9, 12, 10, 8]
group3 = [6, 8, 8, 9, 5, 14, 13, 8, 10, 9]

#Levene's test centered at the median
stats.levene(group1, group2, group3, center='median')

#Levene's test centered at the mean
stats.levene(group1, group2, group3, center='mean')

LeveneResult(statistic=0.5357011635027553, pvalue=0.5913510184735677)

# Exemplo (precisa tratar dataframe antes)

In [73]:
nome = ['A','A','A','A','A','A','A','A','B','B','B','B','B','B','B','B','C','C','C','C','C','C','C','C']

valor = [5,10,7,7,7,6,9,9,5,5,5,8,7,8,10,7,10,11,5,7,8,6,9,11]

tuples = list(zip(nome, valor)) 

cols = ['nome','valor']

df = pd.DataFrame(tuples, columns = cols)

df

   nome  valor
0     A      5
1     A     10
2     A      7
3     A      7
4     A      7
5     A      6
6     A      9
7     A      9
8     B      5
9     B      5
10    B      5
11    B      8
12    B      7
13    B      8
14    B     10
15    B      7
16    C     10
17    C     11
18    C      5
19    C      7
20    C      8
21    C      6
22    C      9
23    C     11

In [74]:
# https://stackoverflow.com/questions/27126511/add-columns-different-length-pandas/33404243

lista_a = pd.DataFrame(df['valor'][df['nome'] == 'A']).reset_index(drop=True).rename(columns = {'valor':'A'})

lista_b = pd.DataFrame(df['valor'][df['nome'] == 'B']).reset_index(drop=True).rename(columns = {'valor':'B'})

lista_c = pd.DataFrame(df['valor'][df['nome'] == 'C']).reset_index(drop=True).rename(columns = {'valor':'C'})

df_levene = pd.concat([lista_a,lista_b,lista_c], ignore_index=False, axis=1)

df_levene

    A   B   C
0   5   5  10
1  10   5  11
2   7   5   5
3   7   8   7
4   7   7   8
5   6   8   6
6   9  10   9
7   9   7  11

In [75]:
pg.homoscedasticity(df_levene[['A', 'B', 'C']])

               W      pval  equal_var
levene  0.515222  0.810157       True

In [78]:
series_a = pd.Series(df['valor'][df['nome'] == 'A'])

series_b = pd.Series(df['valor'][df['nome'] == 'B'])

series_c = pd.Series(df['valor'][df['nome'] == 'C'])

#Levene's test centered at the median
stats.levene(series_a, series_b, series_c, center='median')

LeveneResult(statistic=0.7277227722772277, pvalue=0.49479464653676003)

In [77]:
#Levene's test centered at the mean
stats.levene(series_a, series_b, series_c, center='mean')

LeveneResult(statistic=0.6697102024612942, pvalue=0.5224534872483532)