# Introdução

* https://stackoverflow.com/questions/22219004/grouping-rows-in-list-in-pandas-groupby/55839464#55839464
* https://stackoverflow.com/questions/38369424/groupby-transpose-and-append-in-pandas

In [1]:
import numpy as np
import pandas as pd

In [5]:
df = pd.DataFrame([
        [123, 'abc'],
        [123, 'abc'],
        [456, 'def'],
        [123, 'abc'],
        [123, 'abc'],
        [456, 'def'],
        [456, 'def'],
        [456, 'def'],
        [333,'def'],
        [333,'abc'],
        [333,'def'],
        [333,'def'],
    ], columns=['userid', 'name'])
df

    userid name
0      123  abc
1      123  abc
2      456  def
3      123  abc
4      123  abc
5      456  def
6      456  def
7      456  def
8      333  def
9      333  abc
10     333  def
11     333  def

In [6]:
df.sort_values('userid').groupby('userid')['name'].apply(lambda df: df.reset_index(drop=True)).unstack()

          0    1    2    3
userid
123     abc  abc  abc  abc
333     def  abc  def  def
456     def  def  def  def

In [8]:
df_grouped = pd.crosstab(index = df['userid'], 
                       columns = df['name'], 
                       values = df['name'], 
                       aggfunc = 'count'
                      ).reset_index()

df_grouped = pd.DataFrame(df_grouped).fillna(0)

df_grouped

name  userid  abc  def
0        123  4.0  0.0
1        333  1.0  3.0
2        456  0.0  4.0