In [1]:
import pandas as pd
import numpy as np

# Exemplo 1

In [2]:
prod = np.array(['product 1','product 2','product 3','product 1','product 4','product 5','product 6'])
prod

array(['product 1', 'product 2', 'product 3', 'product 1', 'product 4',
       'product 5', 'product 6'], dtype='<U9')

In [3]:
cat = np.array(['a','a','a','a','a','b','b'])
cat

array(['a', 'a', 'a', 'a', 'a', 'b', 'b'], dtype='<U1')

In [4]:
dfx = np.stack([cat,prod],axis=1)
dfx

array([['a', 'product 1'],
       ['a', 'product 2'],
       ['a', 'product 3'],
       ['a', 'product 1'],
       ['a', 'product 4'],
       ['b', 'product 5'],
       ['b', 'product 6']], dtype='<U9')

In [5]:
df1 = pd.DataFrame([cat,prod])
print(df1)

           0          1          2          3          4          5          6
0          a          a          a          a          a          b          b
1  product 1  product 2  product 3  product 1  product 4  product 5  product 6

In [6]:
df = pd.DataFrame(
{'Category':['a','a','a','a','a','b','b'],
'Product_ID':['product 1','product 2','product 3','product 1','product 4','product 5','product 6']}
)
df

  Category Product_ID
0        a  product 1
1        a  product 2
2        a  product 3
3        a  product 1
4        a  product 4
5        b  product 5
6        b  product 6

In [7]:
pd.crosstab(df['Product_ID'], df['Product_ID'])

Product_ID  product 1  product 2  product 3  product 4  product 5  product 6
Product_ID
product 1           2          0          0          0          0          0
product 2           0          1          0          0          0          0
product 3           0          0          1          0          0          0
product 4           0          0          0          1          0          0
product 5           0          0          0          0          1          0
product 6           0          0          0          0          0          1

In [8]:
pd.crosstab(df['Product_ID'], df['Product_ID'], normalize=True)

Product_ID  product 1  product 2  product 3  product 4  product 5  product 6
Product_ID
product 1    0.285714   0.000000   0.000000   0.000000   0.000000   0.000000
product 2    0.000000   0.142857   0.000000   0.000000   0.000000   0.000000
product 3    0.000000   0.000000   0.142857   0.000000   0.000000   0.000000
product 4    0.000000   0.000000   0.000000   0.142857   0.000000   0.000000
product 5    0.000000   0.000000   0.000000   0.000000   0.142857   0.000000
product 6    0.000000   0.000000   0.000000   0.000000   0.000000   0.142857

# Exemplo 2

In [9]:
df1 = pd.DataFrame(
{
'index':[0,1,2,3],
'Name_A':['Adam', 'Chris', 'Adam', 'Ben'],
'Name_B':['Ben', 'David', 'Chris', 'Chris']
 })

df1

   index Name_A Name_B
0      0   Adam    Ben
1      1  Chris  David
2      2   Adam  Chris
3      3    Ben  Chris

In [10]:
df = pd.crosstab(df1.Name_A, df1.Name_B)
df

Name_B  Ben  Chris  David
Name_A
Adam      1      1      0
Ben       0      1      0
Chris     0      0      1

In [11]:
df = pd.crosstab(df1.Name_A, df1.Name_B)
idx = df.columns.union(df.index)
df = df.reindex(index = idx, columns=idx, fill_value=0)
df

       Adam  Ben  Chris  David
Adam      0    1      1      0
Ben       0    0      1      0
Chris     0    0      0      1
David     0    0      0      0

In [12]:
print(df.index)

Index(['Adam', 'Ben', 'Chris', 'David'], dtype='object')

In [13]:
print(df.reindex)

<bound method DataFrame.reindex of        Adam  Ben  Chris  David
Adam      0    1      1      0
Ben       0    0      1      0
Chris     0    0      0      1
David     0    0      0      0>