In [2]:
import numpy as np
import pandas as pd

In [3]:
df = pd.DataFrame({
      'a':[1,np.nan,7,3,np.nan],
      'b':[np.nan,5,np.nan,2,6], 
      })

df

     a    b
0  1.0  NaN
1  NaN  5.0
2  7.0  NaN
3  3.0  2.0
4  NaN  6.0

In [4]:
df['a_'] = df.apply(lambda row: row['b'] if np.isnan(row['a']) else row['a'],axis=1)
df['b_'] = df.apply(lambda row: row['a'] if np.isnan(row['b']) else row['b'],axis=1)
df

     a    b   a_   b_
0  1.0  NaN  1.0  1.0
1  NaN  5.0  5.0  5.0
2  7.0  NaN  7.0  7.0
3  3.0  2.0  3.0  2.0
4  NaN  6.0  6.0  6.0

In [5]:
df.T

      0    1    2    3    4
a   1.0  NaN  7.0  3.0  NaN
b   NaN  5.0  NaN  2.0  6.0
a_  1.0  5.0  7.0  3.0  6.0
b_  1.0  5.0  7.0  2.0  6.0