In [1]:
import pandas as pd

# Exemplo 01

In [5]:
data = {'id': [1, 2,3,4,5], 'datademissao': ['201801', '201802','201803','201804','201805']}
df = pd.DataFrame(data=data)
df

   id datademissao
0   1       201801
1   2       201802
2   3       201803
3   4       201804
4   5       201805

In [3]:
df_teste2 = pd.DataFrame(df_teste)

list = ['201801', '201802','201803']

for i in list:
    df_teste2[i]=0
    
df_teste2

   id datademissao  201801  201802  201803
0   1       201801       0       0       0
1   2       201802       0       0       0
2   3       201803       0       0       0
3   4       201804       0       0       0
4   5       201805       0       0       0

In [6]:
for i in list:
    df[i] = df.apply(lambda x: 1 if x['datademissao'] == i else 0, axis = 1)

df

   id datademissao  201801  201802  201803
0   1       201801       1       0       0
1   2       201802       0       1       0
2   3       201803       0       0       1
3   4       201804       0       0       0
4   5       201805       0       0       0

# Exemplo 02

In [8]:
df = pd.DataFrame({'A':[4,5,4,5,5,4],
                   'B':[7,8,9,4,2,3],
                   'C':[1,3,5,7,1,0]})

def FUNCTION(x):
    return x + 10

a = ["A", "B"]

for i in a:
    df[i + "_c"] =  df[i].apply(FUNCTION) 

df

   A  B  C  A_c  B_c
0  4  7  1   14   17
1  5  8  3   15   18
2  4  9  5   14   19
3  5  4  7   15   14
4  5  2  1   15   12
5  4  3  0   14   13