# Introdução à lógica de programação e algoritmos

A linguagem python possui uma comunidade bastante ativa que trabalha bastante para criar, atualizar e otimizar as bibliotecas desta linguagem. As bibliotecas são conjuntos de funções e métodos que podem ser chamadas por comandos específicos dentro dos códigos. Nesta aula vamos apresentar como importar estas bibliotecas para seu código e introduzir alguns conceitos através de exemplos práticos sobre como utilizar as funções dessas bibliotecas. Abaixo vamos listar algumas das principais bibliotecas de Python utilizadas em análise de dados.

* **Pandas**
* **Numpy**
* **Scipy**

Abaixo veja como importar algumas das bibliotecas criando 'alias' para invocar as funções de cada biblioteca.

In [1]:
import pandas as pd
import numpy as np

Onde encontrar mais materiais para aprendizado?

* https://www.learnpython.org/

* https://www.w3schools.com/python/

# Funções básicas de Python

## Interpretador interativo e operações básicas

In [2]:
# Soma
1 + 3

4

In [17]:
# Subtração
7 - 9

-2

In [18]:
# Divisão
10 / 3

3.3333333333333335

In [3]:
# Divisão
10 // 3

3

In [4]:
# String
"Texto"

'Texto'

In [ ]:
# String e multiplicação

In [3]:
"Avião " + "Teco"

'Avião Teco'

In [6]:
"Avião " + "Teco"*2

'Avião TecoTeco'

In [10]:
"Texto"[0:3]

'Tex'

In [11]:
"Textosss"[:-3]

'Texto'

In [20]:
# Sem print()
1 + 3
4 * 12
3 / 4

0.75

In [8]:
# Com print()
print(1 + 3)
print(4 * 12)
print(3 / 4)

4
48
0.75

In [9]:
# Print
print('Um vezes dois: ', 1 * 2)

Um vezes dois:  2

## Estrutura básica de programas: variáveis, objetos, expressões,...
Neste primeiro exemplo vamos explorar as funções **input**, **float** e **print** com um exemplo de uma calculadora que executa uma adição **+** entre dois números que o usuário irá digitar.

In [12]:
a = float(input('digite um número:'))
b = float(input('digite outro número:'))
print('A soma dos números é:', (a + b))

digite um número:3
digite outro número:2
A soma dos números é: 5.0

Neste próximo exemplo vamos introduzir o operador matemático que calcula potências (******) de um número. Por exemplo se quisermos calcular o valor de $5^2$, basta realizar o seguinte cálculo 5**2.

In [14]:
numero = 2

In [15]:
numero

2

In [13]:
b = 5
c = b**3
print('b =', b, ',', 'c = b**3 =', c)

b = 5 , c = b**3 = 125

Neste exemplo vamos criar um solucionador de equações do segundo grau

\begin{equation}
\nonumber ax^2 + bx + c = 0
\end{equation}

Lembrando que devemos ter a condição de que $a \neq 0$ para que a equação seja do
segundo grau. A solução para esta equação é dada por

\begin{equation}
\nonumber x = \frac{-b \pm \sqrt{b^2 - 4ac}}{2a}
\end{equation}

Lembrando que para que as raízes sejam reais é necessário que o termo dentro da raiz quadrada seja sempre maior ou igual a zero. Este termo dentro da raíz quadrada é conhecido por discriminante e representado pela letra grega maiúscula delta $\Delta$.

\begin{equation}
\nonumber \Delta = b^2 - 4ac
\end{equation}

In [16]:
np.sqrt(9)

3.0

In [17]:
a = float(input('Digite um valor para a:'))
b = float(input('Digite um valor para b:'))
c = float(input('Digite um valor para c:'))

discriminante = b**2 - 4*a*c

print('Discriminante = ', discriminante)

x1 = (-b + np.sqrt(discriminante))/(2*a)
x2 = (-b - np.sqrt(discriminante))/(2*a)

print('x1 = ', x1)
print('x2 = ', x2)

# Sugestão de exercício: criar um programa que retorne um erro quando o discriminante for menor do que
# do que zero e pedir para o usuário inserir outros conjuntos de número (a,b,c).

Digite um valor para a:1
Digite um valor para b:3
Digite um valor para c:10
Discriminante =  -31.0
x1 =  nan
x2 =  nan

C:\Users\rodrigo.gomes\AppData\Local\Continuum\anaconda3\envs\DG_Sirio\lib\site-packages\ipykernel_launcher.py:9: RuntimeWarning: invalid value encountered in sqrt
  if __name__ == '__main__':
C:\Users\rodrigo.gomes\AppData\Local\Continuum\anaconda3\envs\DG_Sirio\lib\site-packages\ipykernel_launcher.py:10: RuntimeWarning: invalid value encountered in sqrt
  # Remove the CWD from sys.path while we load stuff.

# Funções

In [19]:

def x_ao_quadrado(x_):
    return x_*x_

In [20]:
x_ao_quadrado(2)

4

In [21]:
def func(x, y, z):
    print('x: ', x)
    print('y: ', y)
    print('z: ', z)

    return (x * y)**z

In [22]:
func(1, 3, 4)

x:  1
y:  3
z:  4

81

In [36]:
func(x=1, y=3, z=0)

x:  1
y:  3
z:  0

1

## Exercício:

In [33]:
def raiz(a):
    return np.sqrt(a)

In [ ]:
def raiz(a):
    if a < 0:
        return 'raíz complexa'
    else:
        return np.sqrt(a)

raiz(4)

In [ ]:
a = 3
b = 4
c = 1

discriminante = b**2 - 4*a*c
print(discriminante)

In [ ]:
a = 3
b = 4
c = 1

discriminante = b**2 - 4*a*c

x = (-b + np.sqrt(discriminante))/(2*a)  

print('discriminante =', discriminante)
print('x =', x)

## Exercício Proposto

1. Monte uma função para resolver equações de segundo grau, com os parâmetros indicados na chamada da função. Exemplo de chamada da função: 

<br> *eq_solver(a=1, b=3, c=4)*

In [30]:
# Resposta:
def eq_solver(a,b,c):
    # 
    discriminante = b**2 - 4*a*c
    if discriminante < 0: 
        return 'sem raízes reais'
    else:
        print('Discriminante = ', discriminante)
        # 
        x1 = (-b + np.sqrt(discriminante))/(2*a)
        x2 = (-b - np.sqrt(discriminante))/(2*a)

        print('x1 =', x1)
        print('x2 =', x2)

        return x1, x2

In [31]:
eq_solver(a = 1,b = 2,c = 1)

Discriminante =  0
x1 =  -1.0
x2 =  -1.0

(-1.0, -1.0)

# Tipos de expressões

Nesta seção iremos estudar tipos de expressões lógicas, relacionais, condicionais, etc.

## Comparações

In [40]:
1 > 2

False

In [39]:
2 == 2

True

In [38]:
3 == 'Tartaruga'

False

In [34]:
"Cachorro" == "Gato"

False

In [41]:
3 >= 3

True

In [42]:
x = 10
y = 11

x > y

False

In [43]:
x != y

True

## Exercício:

2. Crie uma função para detectar se um número é par ou impar.
Dica: rode o código abaixo.
<br> 5 % 2

In [67]:
5 % 2

1

## Condicionais

In [45]:
if (2 < 4):
    print('Dois menor que quatro')

Dois menor que quatro

In [47]:
x = 1
y = 3

if (x > y):
    print(x, 'maior que ', y)
else:
    print(x, 'menor que ', y)

1 menor que  3

In [48]:
def comparador(x , y):
    if (x > y):
        print(x, 'maior que ', y)
    elif (x < y):
        print(x, 'menor que ', y)
    else:
        print(x, 'igual a ', y)

In [50]:
comparador(1,1)
comparador(10,1)
comparador(1,10)

1 igual a  1
10 maior que  1
1 menor que  10

## Exercício:

Construa uma função comparadora de variáveis textuais, determinando se são iguais ou diferentes.

In [64]:
#Resposta:
def compara_string(texto_1, texto_2):
    if (texto_1 == texto_2):
        print('Textos iguais! (', texto_1, ')')
    else:
        print('Os textos são diferentes!', '(', texto_1, ')', ' diferente de ', '(', texto_2, ')')

In [65]:
compara_string(texto_1 = 'aaa', texto_2 = 'aaa')
compara_string(texto_1 = 'aaa', texto_2 = 'bb')

Textos iguais! ( aaa )
Os textos são diferentes! ( aaa )  diferente de  ( bb )

## Exercícios propostos

Resolva os primeiros 11 exercícios em https://www.w3schools.com/python/

Resolva o exercício de condicionais: https://www.w3schools.com/python/python_conditions.asp

# Tipos de expressões

Nesta seção iremos estudar tipos de expressões lógicas, relacionais, condicionais, etc.

## Comparações

In [1]:
1 > 2

False

In [2]:
2 == 2

True

In [3]:
3 == 'Tartaruga'

False

In [4]:
"Cachorro" == "Gato"

False

In [5]:
3 >= 3

True

In [6]:
x = 10
y = 11

x > y

False

In [7]:
x != y

True

## Condicionais

In [8]:
if (2 < 4):
    print('Dois menor que quatro')

Dois menor que quatro

In [9]:
x = 1
y = 3

if (x > y):
    print(x, 'maior que ', y)
else:
    print(x, 'menor que ', y)

1 menor que  3

In [10]:
def comparador(x , y):
    if (x > y):
        print(x, 'maior que ', y)
    elif (x < y):
        print(x, 'menor que ', y)
    else:
        print(x, 'igual a ', y)

In [11]:
comparador(1,1)
comparador(10,1)
comparador(1,10)

1 igual a  1
10 maior que  1
1 menor que  10

# Laços e repetições

## for()

In [14]:
[1, 3, 'um']

[1, 3, 'um']

In [15]:
for valor in [1, 3, 'um', 'dez', 'carro']:
    print(valor)

1
3
um
dez
carro

In [16]:
for letra in 'palavra':
    print(letra)

p
a
l
a
v
r
a

## while()

In [17]:
i = 0
while(True):
    i += 1
    if (i == 10):
        print('Valor de i == 10')
    elif(i == 30):
        print('Finalizando, i == 30')
        break

Valor de i == 10
Finalizando, i == 30

# Recursões


## Fatorial

In [25]:
def fatorial_1(n):
    if n <= 1:
        return 1
    else: 
        x = n-1
        fat = fatorial_1(x)
        return n*fat

n = int(input('digite um valor para n:'))
print(fatorial_1(n))

digite um valor para n:5
120

In [26]:
def fatorial_2(n):
    if n <= 1:
        return 1
    else: 
        return n * fatorial_2(n-1)

n = int(input('digite um valor para n: '))
print(fatorial_2(n))

digite um valor para n: 4
24

## Sequência de Fibonacci

A sequência de Fibonacci foi descoberta por Leonardo de Pisa em 1202 ao investigar a já famosa
razão de ouro $(\varphi)$. Neste trabalho ele descobriu a seguinte sequência de números:

\begin{equation}
\nonumber 1,\;1,\;2,\;3,\;5,\;8,\;13,\;21,\;34,\;55,\;89,\;144,\;\ldots 
\end{equation}

A sequência acima é gerada recursivamente pela sequinte equação funcional.

\begin{equation}
\nonumber F(n+2) = F(n + 1) + F(n).
\end{equation}

Obs.: A sequência de Fibonacci é usualmente iniciada com n = 1 e as condições de que F(1) = 1 
e que F(2) = 1, porém muitas pessoas iniciam a sequência com n = 0 e que F(0) = 1 e que F(1) = 1.
Nenhum dos dois modos está errado. Essa divergência acontece devido ao interminável debate se o
número 0 faz parte ou não dos números naturais.

In [27]:
def fibo(n):
    if n <= 1:
        return 1
    else:
        return(fibo(n-1) + fibo(n-2))
n = int(input('digite um número para n: '))
if n <= 0:
    print('Insira um número inteiro maior que zero.')
else:
    print('Sequência de Fibonacci para n = ', n)
    for i in range(n):
        print(fibo(i))

digite um número para n: 4
Sequência de Fibonacci para n =  4
1
1
2
3

## Razão de ouro

A razão de ouro, representada comumente pela letra grega $\varphi$ é definida pela seguinte expressão

\begin{equation}
\nonumber \varphi = \frac{1+{\sqrt{5}}}{2} = 1.6180339887\ldots 
\end{equation}

O valor acima pode ser encontrado encontrando as raízes da seguinte equação do segundo grau:

\begin{equation}
\nonumber \varphi^{2} - \varphi - 1 = 0.
\end{equation}

Porém nesta seção mostraremos como calcular a razão de ouro em termos dos números de
Fibonacci. O cálculo da razão é dada pela razão entre números de Fibonacci consecutivos
e a razão de ouro é encontrada quando estes números consecutivos se tornam muito grandes.

\begin{equation}
\nonumber \varphi_n = \frac{F(n+1)}{F(n)}.
\end{equation}

Abaixo o código para calcular a razão de ouro através da sequência de Fibonacci. Note
que neste código estamos usando uma mescla de recursão para o cálculo de Fibonacci e
uma iteração para o cálculo do número de ouro. 

**Obs.:** O código abaixo possui um problema grave de consumo de memória. Como dever de casa procure uma maneira de melhorar o código abaixo.

In [28]:
def fibo_ouro(n):
    if n <= 2:
        return 1
    else:
        return(fibo(n-1) + fibo(n-2))
n = int(input('digite um número para n: '))
if n <= 0:
    print('Insira um número inteiro maior que zero.')
else:
    print('Sequência de Fibonacci para n = ', n)
    for i in range(n):
        print(fibo_ouro(i+1)/fibo_ouro(i))

digite um número para n: 4
Sequência de Fibonacci para n =  4
1.0
1.0
3.0
1.6666666666666667

## Método para cálculo de fatorial usando iteração

In [29]:
def fatorial_it(n) :
    k = 1
    for i in range(1,n+1):
        k = k * i
    return k

n = int(input('digite um número para n: '))
print(n,'! = ',fatorial_it(n))

digite um número para n: 6
6 ! =  720

In [30]:
def soma(v,n):
    if n == 0:
        return v[0]
    else:
        return v[n] + soma(v,n-1)

v = [1,2,3,4,5,6]
soma(v,5)

21

# Pandas - Introdução Básica

Nesta seção vamos apresentar alguns exemplos de como lidar com dados estruturados, em particular com dataframes. Para isto vamos utilizar uma das bibliotecas mais conhecidas de Python, o pandas.

**Referências**
* [Python for Data Analysis: Data Wrangling with Pandas, Numpy, and Ipython](https://www.amazon.com.br/Python-Data-Analysis-Wrangling-Ipython/dp/1449319793)
* [Learning pandas - Python Data Discovery and Analysis Made Easy](https://www.amazon.com.br/Learning-pandas-Discovery-Analysis-English-ebook/dp/B00W9Q7VPA/ref=sr_1_1?__mk_pt_BR=%C3%85M%C3%85%C5%BD%C3%95%C3%91&keywords=Learning+Pandas+%E2%80%93+Python+Data+Discovery+and+Analysis+Made+Easy&qid=1584127199&s=books&sr=1-1)
* [Learning the Pandas Library: Python Tools for Data Munging, Analysis, and Visualization](https://www.amazon.com.br/Learning-Pandas-Library-Analysis-Visualization-ebook/dp/B01GIE03GW/ref=sr_1_1?__mk_pt_BR=%C3%85M%C3%85%C5%BD%C3%95%C3%91&keywords=Learning+the+Pandas+Library&qid=1584127248&s=books&sr=1-1)

## Criando um data frame

O pandas utiliza uma estrutura de dados conhecida por dataframe que é uma estrutura de duas dimensões de dados tabulares cujo tamanho pode ser alterado e as colunas em geral são heterogêneas, ou seja podem ser de diversos tipos de dados, como por exemplo textos e números. A estrutura do dataframe do pandas é muito similar a uma planilha do Excel. Abaixo vamos dar um exemplo de como criar um dataframe, observe que precisamos importar a biblioteca pandas e podemos dar um alias para chamar as funções da biblioteca. Em geral as pessoas usam a abreviação df (de dataframe) para nomear seus dataframes, igual se nomeia uma planilha.

In [31]:
import pandas as pd

# primeiro definimos a estrutura do dataframe
df = {
      'a':[1,2,7,3,4],
      'b':[6,5,3,2,'a'], 
      }

# depois precisamos definir a estrutura como um dataframe do pandas
df = pd.DataFrame(df)

# mostra o dataframe
df

   a  b
0  1  6
1  2  5
2  7  3
3  3  2
4  4  a

## Exemplo: diversos tipos de variáveis

No próximo exemplo vamos mostrar um dataframe com colunas de diferentes tipos de variáveis

In [32]:
df = {
      'código':[1,2,"1",4],
      'nome':['John','Paul','George','Ringo'], 
      'instrumento':['vocal','baixo','guitarra','bateria'],
      'nascimento':['1940-10-09','1942-06-18','1943-02-25','1940-07-07']
      }

df = pd.DataFrame(df)

df

  código    nome instrumento  nascimento
0      1    John       vocal  1940-10-09
1      2    Paul       baixo  1942-06-18
2      1  George    guitarra  1943-02-25
3      4   Ringo     bateria  1940-07-07

## Como obter informações sobre o dataframe

Abaixo mostramos como obter informações sobre o dataframe: nome e quantidade de colunas, quantidade de linhas, contagem não nulo e tipo da variável.

In [33]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   código       4 non-null      object
 1   nome         4 non-null      object
 2   instrumento  4 non-null      object
 3   nascimento   4 non-null      object
dtypes: object(4)
memory usage: 256.0+ bytes

In [34]:
df.dtypes

código         object
nome           object
instrumento    object
nascimento     object
dtype: object

## Transformando o tipo de variável de uma coluna específica do dataframe

Note pela saída de código acima que a data de nascimento tem o tipo de variável definido como object. Abaixo vamos ensinar como transformar esta coluna em um tipo específico de variável para datas usando a função to_datetime do pandas.

In [35]:
df['nascimento'] = pd.to_datetime(df['nascimento'])

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   código       4 non-null      object
 1   nome         4 non-null      object
 2   instrumento  4 non-null      object
 3   nascimento   4 non-null      datetime64[ns]
dtypes: datetime64[ns](1), object(3)
memory usage: 256.0+ bytes

# Uma nova biblioteca: numpy

Vamos chamar uma biblioteca chamada numpy para darmos um exemplo sobre dados faltantes (missing) em um dataframe. Para isto vamos utilizar a função nan do numpy para definir os campos faltantes no dataframe que vamos criar.

In [36]:
import numpy as np

df = pd.DataFrame({
      'a':[1,np.nan,7,3,np.nan],
      'b':[np.nan,5,np.nan,2,6], 
      'c':[1,4,8,9,3],
      'd':[0,7,21,100,3]
      })

df

     a    b  c    d
0  1.0  NaN  1    0
1  NaN  5.0  4    7
2  7.0  NaN  8   21
3  3.0  2.0  9  100
4  NaN  6.0  3    3

## Exemplo: operações com colunas numéricas de um dataframe - soma

In [37]:
#%%timeit
df['e'] = df['c'] + df['d']

df

     a    b  c    d    e
0  1.0  NaN  1    0    1
1  NaN  5.0  4    7   11
2  7.0  NaN  8   21   29
3  3.0  2.0  9  100  109
4  NaN  6.0  3    3    6

## Exemplo: operações com colunas numéricas de um dataframe - multiplicação

In [42]:
df['f'] = df['c'] * df['d']

df

     a    b  c    d    e    f
0  1.0  NaN  1    0    1    0
1  NaN  5.0  4    7   11   28
2  7.0  NaN  8   21   29  168
3  3.0  2.0  9  100  109  900
4  NaN  6.0  3    3    6    9

## Exemplo: operações com colunas numéricas de um dataframe - divisão

In [43]:
df['g'] = df['d'] / df['c']

df

     a    b  c    d    e    f          g
0  1.0  NaN  1    0    1    0   0.000000
1  NaN  5.0  4    7   11   28   1.750000
2  7.0  NaN  8   21   29  168   2.625000
3  3.0  2.0  9  100  109  900  11.111111
4  NaN  6.0  3    3    6    9   1.000000

## Exemplo: operações com colunas numéricas de um dataframe - divisão por zero

In [44]:
df['h'] = df['e'] / df['f']

df

     a    b  c    d    e    f          g         h
0  1.0  NaN  1    0    1    0   0.000000       inf
1  NaN  5.0  4    7   11   28   1.750000  0.392857
2  7.0  NaN  8   21   29  168   2.625000  0.172619
3  3.0  2.0  9  100  109  900  11.111111  0.121111
4  NaN  6.0  3    3    6    9   1.000000  0.666667

# Agora vamos aprender a como ler um arquivo em csv utilizando o pandas.

In [46]:
df = pd.read_csv('modulo_I_case_1.csv',encoding='latin-1',delimiter=';',low_memory = True)
df

,campo_1,campo_2,campo_3,campo_4,campo_5,campo_6,campo_7,campo_8,campo_9,campo_10
0,1,4,65,30,100,86,27,34,22,98
1,2,17,81,89,25,55,30,11,8,32
2,3,46,57,73,85,60,44,11,87,59
3,4,11,52,12,65,86,62,50,92,11
4,5,15,78,76,6,20,89,54,88,47
...,...,...,...,...,...,...,...,...,...,...
495,496,54,42,55,100,58,91,88,98,49
496,497,80,90,4,32,40,32,42,48,57
497,498,44,27,42,79,14,17,66,65,94
498,499,14,93,69,75,41,77,61,6,17
499,500,37,8,77,86,27,64,37,86,16

# Exercícios

## Ex.

Crie uma função para detectar se um número é par ou impar.
Dica: rode o código abaixo.
<br> 5 % 2

## Ex.

Construa uma função comparadora de variáveis textuais, determinando se são iguais ou diferentes.

In [38]:
#Resposta:

def compara_string(texto_1, texto_2):
    if (texto_1 == texto_2):
        print('Textos iguais! (', texto_1, ')')
    else:
        print('Os textos são diferentes!', '(', texto_1, ')', ' diferente de ', '(', texto_2, ')')
        
compara_string(texto_1 = 'aaa', texto_2 = 'aaa')
compara_string(texto_1 = 'aaa', texto_2 = 'bb')

Textos iguais! ( aaa )
Os textos são diferentes! ( aaa )  diferente de  ( bb )

## Ex. 

Prepare uma função para imprimir [print()] apenas números pares na sequência abaixo utilizando: <br>

In [39]:
seq = [1,2,3,4,6]

for num in seq:
    if (num % 2 == 0):
        print(num)

2
4
6

## Ex.

Repita a mesma função ignorando valores que não são inteiros

Dicas:
* print(type(1.1))
* print(type(1))

In [40]:
seq_2 = [1, 1.1, 3, 20, 999.99, 10000]

entrada = '1'
if (type(entrada) == int):
    print('Inteiro')
else:
    print('Não é inteiro, o valor interido (', entrada, '), é do tipo ', type(entrada)  )

Não é inteiro, o valor interido ( 1 ), é do tipo  <class 'str'>

In [41]:
# Resposta:
def par_ou_nao(entrada):
    if (type(valor) != int):
        print('Não é inteiro:', valor)
    elif (valor % 2 == 0):
        print('É uma número par: ', valor)
    elif (valor % 2 == 1):
        print('É uma número ímpar: ', valor)

for valor in seq_2:
    par_ou_nao(entrada = valor)

É uma número ímpar:  1
Não é inteiro: 1.1
É uma número ímpar:  3
É uma número par:  20
Não é inteiro: 999.99
É uma número par:  10000